#board {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);

	padding: 1rem;

	width: 100vmin;
	height: 100vmin;
}

.cell {
	&.white {
		background-color: var(--white);
		color: var(--black)
	}

	&.black {
		background-color: var(--black);
		color: var(--white);
	}
}

.cell-text {
	height: 0;
	width: 0;

	position: relative;
	top: 0.5vmin;
	left: 0.5vmin;

	font-size: 2vmin;
	font-weight: 500;
}

.piece {
	width: 100%;
	height: 100%;

	background-size: cover;

	&.w-pawn   { background-image: url("../assets/pieces/w-pawn.svg");   }
	&.w-rook   { background-image: url("../assets/pieces/w-rook.svg");   }
	&.w-knight { background-image: url("../assets/pieces/w-knight.svg"); }
	&.w-bishop { background-image: url("../assets/pieces/w-bishop.svg"); }
	&.w-queen  { background-image: url("../assets/pieces/w-queen.svg");  }
	&.w-king   { background-image: url("../assets/pieces/w-king.svg");   }

	&.b-pawn   { background-image: url("../assets/pieces/b-pawn.svg");   }
	&.b-rook   { background-image: url("../assets/pieces/b-rook.svg");   }
	&.b-knight { background-image: url("../assets/pieces/b-knight.svg"); }
	&.b-bishop { background-image: url("../assets/pieces/b-bishop.svg"); }
	&.b-queen  { background-image: url("../assets/pieces/b-queen.svg");  }
	&.b-king   { background-image: url("../assets/pieces/b-king.svg");   }
}