* {
	padding: 0;
	margin: 0;

	box-sizing: border-box;
	--black: hsl(29, 31%, 55%);
	--white: hsl(38, 60%, 83%);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;

	min-height: 100vh;
}

/* board and cells */

#board {
	width: 100vmin;
	height: 100vmin;

	padding: 1rem;
}

#cells {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);

	width: 100%;
	height: 100%;
}

.cell {

}

.black { background-color: var(--black); }
.white { background-color: var(--white); }

/* pieces */

.piece {
	width: 100%;
	height: 100%;

	background-size: cover;
	cursor: pointer;
}

.moving {
	position: fixed;
	translate: -50% -50%;
}