#board {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);

	padding: 1rem;

	width: 100vmin;
	height: 100vmin;
}

.cell {
	&.white {
		background-color: var(--white);
		color: var(--black)
	}

	&.black {
		background-color: var(--black);
		color: var(--white);
	}

	&.highlighted {
		background-image: radial-gradient(circle, var(--open) 0%, var(--open) 50%, transparent 55%);
	}
}

.cell-text {
	height: 0;
	width: 0;

	position: relative;
	top: 0.5vmin;
	left: 0.5vmin;

	white-space: nowrap;

	font-size: 2vmin;
	font-weight: 500;
}

.piece {
	width: 100%;
	height: 100%;

	background-size: cover;
}

/* piece icons */

.p { background-image: url("../assets/white/p.svg"); }
.r { background-image: url("../assets/white/r.svg"); }
.n { background-image: url("../assets/white/n.svg"); }
.b { background-image: url("../assets/white/b.svg"); }
.q { background-image: url("../assets/white/q.svg"); }
.k { background-image: url("../assets/white/k.svg"); }

.P { background-image: url("../assets/black/p.svg"); }
.R { background-image: url("../assets/black/r.svg"); }
.N { background-image: url("../assets/black/n.svg"); }
.B { background-image: url("../assets/black/b.svg"); }
.Q { background-image: url("../assets/black/q.svg"); }
.K { background-image: url("../assets/black/k.svg"); }