@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
	--white: hsl(75, 35%, 90%);
	--black: hsl(100, 20%, 30%);

	--selected: rgba(50, 200, 255, 0.5);
	--enemy: rgba(255, 100, 100, 0.5);
	--open: rgba(50, 255, 75, 0.5);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Poppins", sans-serif;
	user-select: none;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #222;
	height: 100vh;
}